@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel

<div class="text-center">
    <form method="POST">
        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="Marca">
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="Modelo">
        <label for="kilometraje" class="form-label">Kilometraje:</label>
        <input type="number" class="form-control" id="kilometraje" name="kilometraje" required placeholder="Kilometraje">
        <label for="numero_asientos" class="form-label">Numero de Asientos:</label>
        <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" required placeholder="numero_asientos">
        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo" class="form-control">
            <option value="">Seleccione el Tipo</option>
            <option value="Principal">Principal</option>
            <option value="Segundaria">Segundaria</option>
        </select>
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
