@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}

<div class="text-center">
    <form method="POST">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Marca" class="form-label">Marca:</label>
                    <input type="text" class="form-control" placeholder="Marca" required asp-for="Bus.marca">
                    <span class="valid-feedback" asp-validation-for="Bus.marca"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Modelo" class="form-label">Modelo:</label>
                    <input type="number" class="form-control" placeholder="Modelo" required asp-for="Bus.modelo">
                    <span class="valid-feedback" asp-validation-for="Bus.modelo"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Kilometraje" class="form-label">Kilometraje:</label>
                    <input type="number" class="form-control" placeholder="Kilometraje" required asp-for="Bus.kilometraje">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="Número de asientos" class="form-label">Número de asientos:</label>
                    <input type="number" class="form-control" placeholder="Número de asientos" required asp-for="Bus.numero_asientos">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <span class="valid-feedback" asp-validation-for="Bus.placa"></span>
                    <label for="Placa" class="form-label">Placa:</label>
                    <input type="text" class="form-control" placeholder="Placa" required asp-for="Bus.placa">
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-success">Crear</button>
    </form>
</div>