@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutasModel

<div class="text-center">
    <form method="POST">
        <label for="tiempo" class="form-label">Tiempo:</label>
        <input type="text" class="form-control" id="tiempo" name="tiempo" required placeholder="Tiempo">
        
        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo" class="form-control">
            <option value="">Seleccione el Tipo</option>
            <option value="Principal">Principal</option>
            <option value="Segundaria">Segundaria</option>
        </select>
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>