@page
@model IndexModel
@{
    ViewData["Title"] = "Equipo ";
}

<div class="text-center">

    <h1 class="display-4">Bienvenido al sitio del equipo 5</h1>

    <p>Sitio en construccion</a>.</p>
    <i class="fa-solid fa-cog fa-spin fa-10x"></i>

</div>
