@page
@model IndexModel
@{
    ViewData["Title"] = "Equipo 5";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sitio del equipo 5</h1>
    <p>Sitio en construccion</a>.</p>
</div>
